name: pypi

on:
  push:
    tags:
      - '*.*.*'
      - '!*.*.*rc*'

permissions:
    contents: read
    id-token: write

jobs:

  publish-to-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/dac7
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install poetry
        run: pipx install --force poetry==1.8.5

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: '3.11'
          cache: 'poetry'

      - name: Package project
        run: make build

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
