name: test-pypi

on:
  push:
    tags:
      - '*.*.*'

permissions:
    contents: read
    id-token: write

jobs:

  publish-to-testpypi:
    name: Publish to TestPyPI
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/p/dac7
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install poetry
        run: pipx install --force poetry==1.8.5

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.11'
          cache: 'poetry'

      - name: Package project
        run: make build

      - name: Publish distribution to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
