name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:

  release-please:
    name: Release PR
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/dac7
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        id: release
        with:
          # this is a built-in strategy in release-please, see "Action Inputs"
          # for more options
          config-file: .github/release-please-config.json
          manifest-file: .github/release-please-manifest.json

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        if: ${{ steps.release.outputs.release_created }}

      - name: Install poetry
        run: pipx install --force poetry==1.8.5
        if: ${{ steps.release.outputs.release_created }}

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.11'
          cache: 'poetry'
        if: ${{ steps.release.outputs.release_created }}

      - name: Package project
        run: make build
        if: ${{ steps.release.outputs.release_created }}

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: ${{ steps.release.outputs.release_created }}
