name: Style

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
      - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:

  pre-commit:
    name: Pre-Commit Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install pre-commit
        run: pipx install --force poetry==1.8.5

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: '3.11'
          cache: 'poetry'

      - name: Install dependencies
        run: poetry install

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        env:
          cache-name: cache-pre-commit
        with:
          path: ~/.cache/pre-commit
          key: ${{ env.cache-name }}-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Run pre-commit
        run: SKIP=poetry-lock poetry run pre-commit run --show-diff-on-failure --all-files

  broken-links:
    name: Broken Links Check
    runs-on: ubuntu-latest
    steps:
      - name: Markup Link Checker (mlc)
        uses: becheran/mlc@18a06b3aa2901ca197de59c8b0b1f54fdba6b3fa # v1.0.0
