name: Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
      - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:

  tests:
    name: Unit and End-to-End Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pyversion: [3.11, 3.12, 3.13]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install poetry
        run: pipx install --force poetry==1.8.5

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: ${{ matrix.pyversion }}
          cache: 'poetry'

      - name: Unit tests
        run: make test-unit

      - name: Run end-to-end tests
        run: make test-e2e
