name: Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
      - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:

  tests:
    name: Unit and End-to-End Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pyversion: [3.11, 3.12, 3.13]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install poetry
        run: pipx install --force poetry==1.8.5

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: ${{ matrix.pyversion }}
          cache: 'poetry'

      - name: Unit tests
        run: make test-unit

      - name: Run end-to-end tests
        run: make test-e2e
